<header class="header"
    fxLayout="row"
    fxLayoutAlign="start stretch">
    <!-- Logo -->
    <div class="header_logo"
        fxLayout="row"
        fxLayoutAlign="center center">
        <img src="../../../assets/images/logo/logo-text-horizontal-white.png"
            width="161px"
            height="57px"
            alt="eraturk-logo"
            class="pointer"
            routerLink="/">
    </div>
    <!-- Navbar -->
    <div class="header_navbar"
        fxFlex
        fxLayout="column">
        <!-- Notifications -->
        <!-- <div class="header_navbar_notifications bg-white fs-sm contrary"
            fxLayout="row"
            fxLayoutAlign="space-between center">
            <div class="space"></div>
            <div class="notif display-none">
                <mat-icon>notifications</mat-icon>
                <strong>Notifications</strong>: lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et massa
                sit amet
            </div>
            <div class="phone">
                <img src="../../../assets/images/flag/flag-turkey.png"
                    width="24px"
                    height="21px"
                    alt="flag-turkey"
                    class="middle">
                (+90) 5500 001330
            </div>
        </div> -->
        <!-- Menu -->
        <era-menu></era-menu>
    </div>
</header>