<!-- header -->
<div class="top-banner">
  <div class="container"
    fxLayoutAlign.xs="center center">
    <div class="top-banner_content"
      fxFlex.xs="314px">
      <h3 class="top-banner_content_title">Eastern white cedar <span class="green">wood</span> </h3>
      <p class="top-banner_content_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        incididunt ut
        labore et dolore
        magna aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus vestibulum lorem sed
        risus. Turpis massa
        sed elementum tempus egestas sed. Auctor urna nunc id cursus metus aliquam. </p>
      <div class="top-banner_content_actions" fxHide.lg
        fxLayout="column" fxLayoutGap.xs="18px">
        <div fxLayout="row">
          <mat-icon> local_offer</mat-icon>
          <span class="value--discounted">98.99 ₺</span>
        </div>
        <button class="btn btn-md btn-green"
          fxFlex.xs="100">
          <strong class="text-color-contrary">Buy</strong> and <strong class="text-color-contrary">view
            contact</strong>
        </button>

      </div>
      <div class="top-banner_content_actions" fxHide.xs
        fxHide.xs>
        <button class="btn btn-md btn-green"
          fxFlex.xs="100">
          <strong class="text-color-contrary">Buy</strong> and <strong class="text-color-contrary">view
            contact</strong>
        </button>
        <mat-icon> local_offer</mat-icon>
        <span class="value--discounted">98.99 ₺</span>
      </div>
    </div>
  </div>
</div>

<div class="container" fxLayout.xs="column" >
  <!-- special_offer -->
  <div class="section"   fxFlex.xs="314px">
    <era-swiper-header class="my24" fxHide.xs
      title='The best selling offer'
      moreLink=''
      (clickOnPrev)='swipSpecialOffer.swiperRef.slidePrev()'
      (clickOnNext)='swipSpecialOffer.swiperRef.slideNext()'></era-swiper-header>
    <swiper [slidesPerView]="'auto'"
      [spaceBetween]="10"
      #swipSpecialOffer>
      <ng-template swiperSlide
        *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
        <era-product-card-horizontal></era-product-card-horizontal>
      </ng-template>
    </swiper>
  </div>
  <!-- selling_pruducts -->
  <div class="section">
    <era-swiper-header class="my24" fxHide.xs
      title='The best selling offer'
      moreLink=''
      (clickOnPrev)='swipSelling.swiperRef.slidePrev()'
      (clickOnNext)='swipSelling.swiperRef.slideNext()'></era-swiper-header>
    <swiper [slidesPerView]="'auto'"
      [spaceBetween]="10"
      #swipSelling>
      <ng-template swiperSlide
        *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
        <era-product-card-vertical></era-product-card-vertical>
      </ng-template>
    </swiper>
  </div>
  <!-- category_name -->
  <div class="section">
    <era-swiper-header class="my24" fxHide.xs
      title='The best selling offer'
      moreLink=''
      (clickOnPrev)='swipCategoryName.swiperRef.slidePrev()'
      (clickOnNext)='swipCategoryName.swiperRef.slideNext()'></era-swiper-header>
    <swiper [slidesPerView]="'auto'"
      [spaceBetween]="10"
      #swipCategoryName>
      <ng-template swiperSlide
        *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
        <era-product-card-content></era-product-card-content>
      </ng-template>
    </swiper>
  </div>
  <!-- visited_products -->
  <div class="section">
    <era-swiper-header class="my24" fxHide.xs
      title='The best selling offer'
      moreLink=''
      (clickOnPrev)='swipVisited.swiperRef.slidePrev()'
      (clickOnNext)='swipVisited.swiperRef.slideNext()'></era-swiper-header>
    <swiper [slidesPerView]="'auto'"
      [spaceBetween]="10"
      #swipVisited>
      <ng-template swiperSlide
        *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
        <era-product-card-vertical></era-product-card-vertical>
      </ng-template>
    </swiper>
  </div>
  <!-- brands -->
  <div class="section">
    <era-swiper-header class="my24" fxHide.xs
      title='The best selling offer'
      moreLink=''
      (clickOnPrev)='swipBrand.swiperRef.slidePrev()'
      (clickOnNext)='swipBrand.swiperRef.slideNext()'></era-swiper-header>
    <swiper [slidesPerView]="'auto'"
      [spaceBetween]="10"
      #swipBrand
      class="swiper--brand-card">
      <ng-template swiperSlide
        *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
        <era-brand-card></era-brand-card>
      </ng-template>
    </swiper>
  </div>
  <!-- category_name-brand -->
  <div class="section">
    <era-swiper-header class="my24" fxHide.xs
      title='The best selling offer'
      moreLink=''
      (clickOnPrev)='swipCategory.swiperRef.slidePrev()'
      (clickOnNext)='swipCategory.swiperRef.slideNext()'></era-swiper-header>
    <swiper [slidesPerView]="'auto'"
      [spaceBetween]="10"
      #swipCategory>
      <ng-template swiperSlide
        *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
        <era-product-card-content></era-product-card-content>
      </ng-template>
    </swiper>
  </div>
  <!-- newest_products -->
  <div class="section">
    <era-swiper-header class="my24" fxHide.xs
      title='The best selling offer'
      moreLink=''
      (clickOnPrev)='swipNewest.swiperRef.slidePrev()'
      (clickOnNext)='swipNewest.swiperRef.slideNext()'></era-swiper-header>
    <swiper [slidesPerView]="'auto'"
      [spaceBetween]="10"
      #swipNewest>
      <ng-template swiperSlide
        *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
        <era-product-card-vertical></era-product-card-vertical>
      </ng-template>
    </swiper>
  </div>
  <!-- category_name -->
  <div class="section">
    <era-swiper-header class="my24" fxHide.xs
      title='The best selling offer'
      moreLink=''
      (clickOnPrev)='swipCategoryLast.swiperRef.slidePrev()'
      (clickOnNext)='swipCategoryLast.swiperRef.slideNext()'></era-swiper-header>
    <swiper [slidesPerView]="'auto'"
      [spaceBetween]="10"
      #swipCategoryLast>
      <ng-template swiperSlide
        *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
        <era-product-card-content></era-product-card-content>
      </ng-template>
    </swiper>
  </div>
  <!-- Introduction -->
  <div class="intro">
    <div fxLayout="row" fxLayout.xs="column" >
      <div class="intro_text" fxLayout.xs="column" fxLayoutAlign="center" fxFlex.xs="100">
        <img  src="../../../../../assets/images/home/logoUp.png"
          alt="">
          <p class="white">
            <img src="../assets/images/home/lastLogo.png">
            (+90) 5500 001330
          </p>
        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et
          dolore
          magna aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus vestibulum lorem sed risus.
          Turpis
          massa
          sed elementum tempus egestas sed. Auctor urna nunc id cursus metus aliquam. </p>
      </div>
      <div class="intro_thumbnails" fxHide.xs>
        <img class="top-left"
          width="124px"
          height="124px"
          src="../../../../../assets/images/home/intro-image-1.png">
        <img class="right"
          width="156px"
          height="156px"
          src="../../../../../assets/images/home/intro-image-2.png">
        <img class="bottom-left"
          width="93px"
          height="93px"
          src="../../../../../assets/images/home/intro-image-3.png">
      </div>
    </div>
    <div class="intro_buttons" fxLayout.xs="column">
      <button class="btn-about-us white"
        routerLink='/about-us'
        mat-stroked-button>
        Learn more
        <strong class="dark-green">about us</strong>
      </button>
      <button class="btn-know-more"
        routerLink='/about-us'
        mat-stroked-button>
        <span> know more!</span>
      </button>
      <p class="white" fxHide.xs>
        <img src="../assets/images/home/lastLogo.png">
        (+90) 5500 001330
      </p>
    </div>
  </div>
</div>
