@import "settings/settings.scss";
@import "tools/tools.scss";

// banner
.top-banner {
    height: 673px;
    background-image: url("../../../assets/images/home/home-top-banner.png");
    background-size: cover;
    background-size: cover;
    background-position: bottom;

    &_content {
        top: 220px;
        padding-top: 300px;
        width: 608px;
        max-width: 100%;

        &_actions {
            .value--discounted {
                color: $text-color-main;
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
}

@include xs {
    .top-banner {
        height: 500px;

        &_content {
            top: 60px;
            padding-top: 137px;
        }
    }
    .btn_banner {
        width: 340px;
        height: 48px;
        font-size: $font-size-base;
        border-radius: $border-radius-lg;
        margin-top: 20px;
    }
}

// Introduction
.intro {
    padding: 50px 0 120px;

    &_text {
        display: flex;
        align-items: center;
        gap: 8px;

        p {
            color: $text-color-main;
            line-height: 1.2rem;
        }
    }

    &_thumbnails {
        height: 230px;
        margin-left: 32px;
        position: relative;

        img {
            position: absolute;
        }

        .top-left {
            top: 0;
            left: 0;
        }

        .right {
            top: 40px;
            right: 0;
        }

        .bottom-left {
            left: 30px;
            bottom: 0;
        }
    }

    .btn-about-us {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        border-radius: 15px;
        background-color: black;

        span {
            font-weight: 300;
            color: $green;
            font-size: 18px;
        }
    }

    .btn-know-more {
        border: 1px solid $green;
        box-sizing: border-box;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 300;
        color: $green;
    }

    &_buttons {
        margin-top: -55px;

        img {
            width: 24px;
            height: 21px;
            vertical-align: middle;
        }
    }
}

@include xs {
    .top-banner_content_title {
        font-size: 25px;
    }

    .logo-up-footer {
        height: 155px;
        width: 315px;
        margin: 0 auto;
    }

    .intro-content_text {
        font-size: 12px;
    }
}