.bg-active {
    background-color: white;
}

.mat-button-toggle-group {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}
.mat-button-toggle-checked{
    background-color:white
}