.display {
    &-block {
        display: block;
    }

    &-none {
        display: none !important;
    }

    &-inline {
        display: inline;
    }

    &-inline-block {
        display: inline-block;
    }
}