<div class="page page--products">
  <div class="container">
    <div class="breadcrumbs"></div>
    <div class="content"
      fxLayout="row"
      fxLayoutGap="32px"
      fxLayoutAlign="start start"
      fxFlex.xs="100"
      fxLayout.xs="column"
      fxLayoutGap.xs="32px"
      fxLayoutAlign.xs="start stretch">
      <div class="filters p16"
        fxFlex="0 0 300px"
        fxFlex.xs="0 0 352px">
        <div class="title pb16 pt8 mb24 border-bottom">Category</div>
        <div class="list--categories"
          fxLayout="column"
          fxLayoutGap="8px">
          <div class="item"
            fxLayout="row"
            fxLayoutAlign='center center'
            *ngFor="let item of [1,1,1,1,1,1,1,1]"
            (click)="categorySelected()">
            <p class="text"
              fxFlex>The category title</p>
            <mat-icon>chevron_right</mat-icon>
          </div>
        </div>
      </div>
      <div class="results"
        fxFlex="calc(100% - 332px)">
        <era-swiper-header class="mb24"
          [title]='"The best special offer"'
          moreLink='test'
          (clickOnPrev)='swipSpecialOffer.swiperRef.slidePrev()'
          (clickOnNext)='swipSpecialOffer.swiperRef.slideNext()'></era-swiper-header>
        <swiper [slidesPerView]="'auto'"
          [spaceBetween]="10"
          [slidesPerGroup]="3"
          [pagination]="{clickable: true}"
          #swipSpecialOffer>
          <ng-template swiperSlide
            *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
            <era-product-card-content></era-product-card-content>
          </ng-template>
        </swiper>

        <era-swiper-header class="my24"
          [title]='"The most visited products"'
          moreLink='test'
          (clickOnPrev)='swipSpecialOffer.swiperRef.slidePrev()'
          (clickOnNext)='swipSpecialOffer.swiperRef.slideNext()'></era-swiper-header>
        <swiper [slidesPerView]="'auto'"
          [spaceBetween]="10"
          [slidesPerGroup]="3"
          [pagination]="{clickable: true}"
          #swipSpecialOffer>
          <ng-template swiperSlide
            *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
            <era-product-card-content></era-product-card-content>
          </ng-template>
        </swiper>

        <era-swiper-header class="my24"
          [title]='"The most visited products"'
          moreLink='test'
          (clickOnPrev)='swipSpecialOffer.swiperRef.slidePrev()'
          (clickOnNext)='swipSpecialOffer.swiperRef.slideNext()'></era-swiper-header>
        <swiper [slidesPerView]="'auto'"
          [spaceBetween]="10"
          [slidesPerGroup]="3"
          [pagination]="{clickable: true}"
          #swipSpecialOffer>
          <ng-template swiperSlide
            *ngFor="let item of [1,2,3,4,5,6,7,8,9,11,12,13]">
            <era-product-card-content></era-product-card-content>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</div>