<div class="page page--about-us"
    fxLayoutAlign="center center"
    fxLayout="column">
    <div class="container">
        <div class="contrary br-lg bg-green py60"
            fxLayout="row"
            fxLayoutAlign="center center">
            <div fxFlex="60"
                fxFlex.xs="90">
                <img width="161px"
                    height="57px"
                    src="../../../assets/images/logo/logo-text-horizontal-green.png">
                <h4 class="mt40">Website slogan</h4>
                <p class="mt4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus vestibulum
                    lorem sed risus. Turpis massa sed elementum tempus egestas sed. Auctor urna nunc id cursus metus
                    aliquam. </p>
            </div>
        </div>
        <div class="br-lg mt24 bg-second py60"
            fxLayout="row"
            fxLayoutAlign="center center">
            <div fxFlex="60"
                fxFlex.xs="90">
                <h4 class="green center"
                    fxLayoutAlign.xs="start">Your title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod
                    tempor incididunt ut labore et
                    dolore magn
                    dolore magna aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus vestibulum lorem sed
                    risus.
                    Turpis massa sed elementum temp dolore magna aliqua. Vestibulum sed arcu non odio euismod. Diam
                    phasellus vestibulum lorem sed risus.
                    Turpis massa sed elementum tempa aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus
                    vestibulum
                    lorem sed risus.
                    Turpis massa sed elementum tempus egestas sed. Auctor urna nunc id cursus metus aliquam. </p>
            </div>
        </div>
    </div>
</div>