<div class="page page--about-us">
  <div class="container">
    <div class="bg-second py32 br-lg"
      ngClass.gt-xs="px32"
      ngClass.xs="px16"
      fxLayout="column"
      fxLayoutAlign.xs="start">
      <h4 class="green">Website slogan</h4>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
        dolore magn
        dolore magna aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus vestibulum lorem sed risus.
        Turpis massa sed elementum temp dolore magna aliqua. Vestibulum sed arcu non odio euismod. Diam
        phasellus vestibulum lorem sed risus.
        Turpis massa sed elementum tempa aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus vestibulum
        lorem sed risus.
        Turpis massa sed elementum tempus egestas sed. Auctor urna nunc id cursus metus aliquam. </p>

      <ul ngClass.xs="pt24">
        <li *ngFor="let item of [1,2,3,4]">Your list text</li>
      </ul>
    </div>
    <div class="bg-second py32 br-lg mt20"
      ngClass.gt-xs="px32"
      ngClass.xs="px16"
      fxLayout="column"
      fxLayoutAlign.xs="start">
      <h4 class="green">Website slogan</h4>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
        dolore magn
        dolore magna aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus vestibulum lorem sed risus.
        Turpis massa sed elementum temp dolore magna aliqua. Vestibulum sed arcu non odio euismod. Diam
        phasellus vestibulum lorem sed risus.
        Turpis massa sed elementum tempa aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus vestibulum
        lorem sed risus.
        Turpis massa sed elementum tempus egestas sed. Auctor urna nunc id cursus metus aliquam. </p>

      <ul ngClass.xs="pt24">
        <li *ngFor="let item of [1,2,3,4]">Your list text</li>
      </ul>
    </div>
  </div>
</div>