<footer class="footer bg-second py60">
    <div class="container"
        fxLayout="row"
        fxLayout.xs="column"
        fxFlexOffset.xs="15">
        <div class="footer_column"
            fxFlex="25">
            <h6 class="op6 mb24 fw-light">Customer Services</h6>
            <ul class="pl20">
                <li><a routerLink="/register">Sign up</a> or <a routerLink="/login">Sign in</a></li>
                <li><a routerLink="/contact-us">Contact Us</a></li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/conditions">Conditions</a></li>
                <li><a routerLink="/faq">FAQ</a></li>
            </ul>
        </div>
        <div class="footer_column"
            fxFlex="25">

            <h6 class="op6 mb24 fw-light">Store Services</h6>
            <ul class="pl20">
                <li><a routerLink="/products">All product</a></li>
                <li><a routerLink="/">The best special offer</a></li>
                <li><a routerLink="/media">Media</a></li>
                <li><a routerLink="/products">The best selling products</a></li>
                <li><a routerLink="/products">The Newest products</a></li>
            </ul>
        </div>
        <div class="footer_column footer_column--contacts"
            fxFlex="25">
            <h6 class="op6 mb24 fw-light white">Contacts</h6>
            <ul class="pl20">
                <li>Turkey, Istanbul, SEDAT SİMAVİ S N 42/2</li>
                <li>info@eraturk.com</li>
                <li>
                    <img class="middle"
                        src="../assets/images/home/lastLogo.png">
                    (+90) 5500 001330
                </li>
                <li>
                    <img class="middle"
                        src="../assets/images/home/lastLogo.png">
                    (+90) 5500 001330
                </li>
            </ul>
        </div>
        <div class="footer_column footer_column--newsletters"
            fxFlex="25">
            <h6 class="op6 mb24 fw-light">Newsletters</h6>
            <p><span class="mr4 fs-lg green">3,040</span>Members</p>
            <p>You can subscribe to our newsletter</p>

            <div class="input input--newsletters p4 mt8 br-lg"
                fxLayout="row"
                fxLayoutAlign="space-between stretch"
                fxLayoutGap="8px">
                <input type="text"
                    class="fs-sm pl8 text-color-main"
                    placeholder="Enter email .."
                    fxFlex>
                <button class="btn px12 fs-sm bg-green br-lg">Subscribe</button>
            </div>
        </div>
    </div>
</footer>

<div class="sub-footer">
    <div class="container py16 bg-first"
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayout.xs="column-reverse"
        fxLayoutGap.xs="20px">
        <p class="fs-sm op6">© Copyright 2021 - All rights reserved</p>
        <img src="../../../assets/images/logo/logo-text-horizontal-white.png"
            width="93px"
            height="33px"
            alt="eraturk-logo"
            routerLink="/">
    </div>
</div>