@import "settings/settings.scss";

.form-wrapper {
  width: 600px;
  max-width: 100%;
}

::ng-deep {
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $green;
  }
}

form > div > .mat-form-field {
  display: block;
}

