<div ngClass.xs="p32"
  ngClass.gt-xs="py64">
  <div class="wrapper ma contrary bg-white br-lg"
    ngClass.xs="p32"
    ngClass.gt-xs="p40">
    <h3 class="fw-bold"
      ngClass.xs="fs-2xl">{{'CHANGE_PASSWORD' | translate}}</h3>
    <form [formGroup]="form"
      fxLayout='column'
      class="contrary"
      fxLayoutGap="4px">
      <mat-form-field appearance="fill"
        validationMessageContainer>
        <mat-label>{{'NEW_PASSWORD' | translate}}</mat-label>
        <input type='password'
          matInput
          [placeholder]="'NEW_PASSWORD' | translate"
          formControlName='password'
          required
          class="always-ltr">
      </mat-form-field>
      <mat-form-field appearance="fill"
        validationMessageContainer>
        <mat-label>{{'CONFIRM_NEW_PASSWORD' | translate}}</mat-label>
        <input type='password'
          matInput
          [placeholder]="'CONFIRM_NEW_PASSWORD' | translate"
          formControlName='passwordConfirm'
          required
          class="always-ltr">
      </mat-form-field>
      <div class="pt12"
        fxLayout='row'
        fxLayoutAlign="space-between center">
        <button class="btn btn-lg btn-green"
          (click)="changePassword()"
          [disabled]="form.invalid || loading">{{'SAVE' | translate}}
        </button>
        <a class="link fw-bold"
          routerLink='/login'>{{'LOGIN' | translate}}</a>
      </div>
    </form>
  </div>
</div>