<div class="page page--faq">
  <div class="container">
    <h3 class="green">Frequently Asked Questions</h3>
    <mat-accordion >
      <mat-expansion-panel *ngFor="let item of [1,1,1,1,1]"
        class="mt8">
        <mat-expansion-panel-header class="px32">
          <mat-panel-title class="text-color-main test">
            The title of the frequently asked question
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="py8 white"
        ngClass.xs="px8"
        ngClass.gt-xs="px32">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod
          tempor
          incididunt ut
          labore et dolore magna aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus
          vestibulum
          lorem sed risus. Turpis massa sed elementum tempus egestas sed. Auctor urna nunc id cursus
          metus
          aliquam.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
