<div ngClass.xs="p32"
  ngClass.gt-xs="py64">
  <div class="wrapper ma contrary bg-white br-lg"
    ngClass.xs="p32"
    ngClass.gt-xs="p40">
    <h3 ngClass.xs="fs-2xl">
      {{'ENTER_CODE' | translate}}
    </h3>
    <form [formGroup]="form"
      fxLayout='column'>
      <mat-form-field appearance='fill'
        validationMessageContainer>
        <mat-label>{{'CODE' | translate}}</mat-label>
        <input type="text"
          [placeholder]="'CODE' | translate"
          matInput
          formControlName='key'
          required
          class="always-ltr">
      </mat-form-field>
      <div class="pt20">
        <button class="btn btn-lg btn-green"
          [disabled]="form.invalid || loading"
          (click)="goToChangePassword()">
          {{'CONTINUE' | translate}}
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div class="center p24">
    <div *ngIf='(time | async) !== 0; else sendAgainButton'>{{time | async}} <span class="op6">{{'SECOND' |
        translate}}</span></div>
    <ng-template #sendAgainButton>
      <div>
        <button mat-flat-button
          [disabled]='loading'
          (click)="callOtp()">{{'SEND_CODE_AGAIN' | translate}}</button>
      </div>
    </ng-template>
  </div>
</div>