<div class="page">
        <div class="container br-lg mt24 bg-second p32">
            <h3 class="green">privacy</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore magn
                dolore magna aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus vestibulum lorem sed
                risus.
                Turpis massa sed elementum temp dolore magna aliqua. Vestibulum sed arcu non odio euismod. Diam
                phasellus vestibulum lorem sed risus.
                Turpis massa sed elementum tempa aliqua. Vestibulum sed arcu non odio euismod. Diam phasellus
                vestibulum
                lorem sed risus.
                Turpis massa sed elementum tempus egestas sed. Auctor urna nunc id cursus metus aliquam. </p>
    </div>
</div>
