@import 'settings/settings.scss';

.dark {
    color: $text-color-main;

    .mat-drawer,
    .mat-drawer-container,
    .mat-toolbar,
    .mat-select-arrow,
    .mat-checkbox,
    .mat-checkbox-label,
    .mat-form-field,
    input,
    textarea,
    .mat-select-value-text {
        color: $text-color-main !important;
    }

    a {

        &:active,
        &:focus {
            color: $text-color-main;
        }
    }
}