.dark {
    // Text
    --text-color-main: white;
    --text-input-color: #A4A7A6;
    --text-color-contrary: #202020;
    --text-color-green: #005133; // Should clear this

    // Colors
    --red: #F34444;
    --blue: #18A0FB;
    --green: #00E38F;
    --dark-green: #008542;
    --orange: #FF9800;
    --grey: #f4f7f6;
    --dark-grey: #696969;
    --yellow: yellow;

    // Background Colors
    --background-first: #131615;
    --background-second: #202221;
    --background-third: #262928;
    --background-forth: #383A39;
    --background-focused: #2B3E37;
    --background-green: #04BA76;
    --background-contrary: white;

    // Border Colors
    --border-color: #272A29;
}

